{% from "netbox/map.jinja" import netbox with context %}
import ldap
from django_auth_ldap.config import LDAPSearch
from django_auth_ldap.config import LDAPSearch, GroupOfNamesType

{%- for key,value in netbox.service.optional.ldap.config.items() -%}
{%-if value == "None" %}
{{ key }} = {{ value }}
{%-elif value is number %}
{{ key }} = {{ value }}
{%- elif value is iterable and value is not string %}
{{ key }} = {
{%- for nested_key,nested_value in value.items() %}
  {{nested_key}}: {{nested_value}}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{%- elif value is string %}
{{ key }} = {{ value }}
{%- endif -%}
{%- endfor -%}