{% from "netbox/map.jinja" import netbox with context %}
{%- for key,value in netbox.service.config.items() -%}
{%-if value == "None" %}
{{ key }} = {{ value }}
{%-elif value is number %}
{{ key }} = {{ value }}
{%- elif value is iterable and value is not string %}
{{ key }} = {{ value }}
{%- elif value is string %}
{{ key }} = '{{ value }}'
{%- endif -%}
{%- endfor -%}
